<div>
  <a (click)="onNoClick()" class="end pointer"><mat-icon>close</mat-icon></a>

  <div class="modal-image" class="center">
    <img [src]="this.movie.urlImagem" width="50%"  style="border-radius: 4px;">
  </div>

  <div class="modal-container" style="margin-top: 50px;">
    <div class="modal-details" style="display: flex;">
      <div class="description-rating-agr" style="width: 50%;">
        <div class="rating-agr" style="display: block;">
          <mat-icon *ngFor="let element of [].constructor(this.movie.rating)">star</mat-icon>
          <p>{{ this.movie.age }}</p>
        </div>
        <div class="description" style="display: flex; flex-wrap: wrap;">
          <p>{{ this.movie.description }}</p>
        </div>
      </div>
      <div class="cast-categories" style="width: 50%;">
        <div class="cast end">
          <p> Elenco: {{ this.movie.cast }}</p>
        </div>
        <div class="categories end">
            Categorias: {{ this.movie.movieCategories }}
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.getUser()?.Role === 'Editor' || this.getUser()?.Role === 'Administrador'">
  <button class="edit">Editar</button>
</div>
<button class="edit">Adicionar a minha lista</button>
